/* styles.css */

body {
	margin: 0;
	background: rgb(100, 150, 200);
}

* {
	font-family: Inconsolata, American Typewriter, Serif;
}

#app {
	display: flex;
	flex-direction: column;
	padding: 1rem 10%;
	align-items: center;
	height: calc(100vh - 2rem);
}

#input {
	width: 100%;
	font-size: 1.5rem;
	padding: 0.75rem 0.5rem;
	margin-bottom: 0.5rem;
	min-width: 400px;
}

#core {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;	
	height: 100%;	
}

#sketch-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 400px;
	flex: 1 1 65vw
}

#button {
	cursor: pointer;
	color: black;
}

.text-button {
	border: none;
	background: none;
	font-size: 2rem;
	padding: 0;
}

.text-button:hover {
	transform: scale(1.5);
}

select {
	max-width: 10rem;
}

#panel-button {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
}

#panel-container {
	display: none;
	overflow-y: hidden;
	flex: 1 1 10rem;
}

#panel-container.toggle-panel {
	display: initial;
}

#close-button {
	display: none;
}

#mask {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	opacity: 70%;
}

#panel-header {
	display: flex;
	padding-bottom: 1rem;
	align-items: center;
	height: 2rem;
}

#panel-content {
	display: flex;
	flex-direction: column;
	height: calc(100% - 1rem);
	padding: 1rem;
}

@media only screen and (max-width: 1280px) {
	#panel-container {
		background: rgb(0, 200, 150);
		position: fixed;
		width: 70vw;
		height: 70vh;
		z-index: 1;
		border-radius: 10px;
	}

	#panel-content {
		height: calc(100% - 2rem);
	}
	
	#close-button.toggle-panel {
		display: initial;
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	#mask.toggle-panel {
		display: initial;
	}

	#panel-button.toggle-panel {
		color: white;
	}
}

#sequence-container {
	visibility: hidden;
	display: none;
}

#options-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.setting {
	margin-bottom: 1rem;
}

.setting-label {
	margin-bottom: 0.25rem;
}

#grammar-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#grammar-container textarea {
	resize: none;
	height: 100%;
	margin: 0.5rem 0;
}

